<div class="row">

  <div class="col-md-3 col-sm-3 col-3">
    <div class="card card-stats">
      <div class="card-header" data-background-color="blue">
        <i class="fa fa-users"></i>
      </div>
      <div class="card-content">
        <p class="category">Clientes</p>
        <h3 class="title"><%= @clients.count %><small> En lista</small></h3>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-3 col-3">
    <div class="card card-stats">
      <div class="card-header" data-background-color="orange">
        <i class="fa fa-shopping-basket"></i>
      </div>
      <div class="card-content">
        <p class="category">Productos</p>
        <h3 class="title"><%= @products.count %><small> En lista</small></h3>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-3 col-3">
    <div class="card card-stats">
      <div class="card-header" data-background-color="red">
        <i class="fa fa-truck"></i>
      </div>
      <div class="card-content">
        <p class="category">Proveedores</p>
        <h3 class="title"><%= @providers.count %><small> En lista</small></h3>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-3 col-3">
    <div class="card card-stats">
    	<div class="card-header" data-background-color="green">
    		<i class="fa fa-list"></i>
    	</div>
    	<div class="card-content">
    		<p class="category">Categorias</p>
    		<h3 class="title"><%= @categories.count %><small> En lista</small></h3>
    	</div>
    </div>
  </div>

</div>
